<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>书籍信息添加页面</title>
    <!--引入JQuery-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    <!--引入js文件-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
    <!--引入css文件-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/public.css') }}" />
</head>

<body>
    <div>
        <section class="publicMian">
            <div class="right">
                <div class="location"> <strong>你现在所在的位置是:</strong> <span>书籍信息添加页面</span> </div>
                <div class="bookAdd">
                    <form action="{{ url_for('insertBook') }}" method="post"> <input type="hidden" name="method"
                            value="insertBook" />
                        <div><strong>书名: </strong><input type="text" name="name" /><br /></div>
                        <div><strong>作者: </strong><input type="text" name="author" /><br /></div>
                        <div><strong>出版社: </strong><input type="text" name="publisher" /><br /></div>
                        <div><strong>出版年份: </strong><input type="text" name="publish_year" /><br /></div>
                        <div><strong>页数: </strong><input type="text" name="pages" /><br /></div>
                        <div><strong>价格: </strong><input type="text" name="price" /><br /></div>
                        <div><strong>装订方式: </strong><input type="text" name="binding" /><br /></div>
                        <div><strong>所属系列: </strong><input type="text" name="series" /><br /></div>
                        <div><strong>ISBN号: </strong><input type="text" name="ISBN" /><br /></div>
                        <div class="bookAddBtn"> <input type="submit" value="添加" /> </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

</body>

</html>
